<h1>niranjan ramadas</h1>
<a class="titlelink" href="http://www.github.com/nramadas">github</a>
<a class="titlelink">resume</a>
<a class="titlelink" href="mailto:nrbramadas@gmail.com">email</a>

<h2>i work with</h2>
<div class="clearfix">
    <p class="project small">Ruby</p>
    <p class="project small">Rails</p>
    <p class="project small">RSpec</p>
    <p class="project small">JavaScript</p>
    <p class="project small">Coffeescript</p>
    <p class="project small">jQuery</p>
    <p class="project small">HTML</p>
    <p class="project small">HTML5 Canvas</p>
    <p class="project small">CSS</p>
    <p class="project small">SCSS</p>
    <p class="project small">Python</p>
    <p class="project small">Git</p>
</div>
<div style="clear: both;"></div>

<h2>stuff i've built</h2>
<div class="clearfix">
  <a class="project large" href="http://simplepub.herokuapp.com">
    <h1>Simple Pub</h1>
    <h2>online ePub reader</h2>
    <p>github page: github.com/nramadas/EbookReader</p>
    <h2>Features</h2>
    <ul>
      <li>De-duplication of ebooks</li>
      <li>Omniauth login for Google and Dropbox</li>
      <li>Multiple file upload with drag and drop ability</li>
      <li>Delayed Jobs for pulling books from Dropbox</li>
      <li>Book remembers where you stopped reading</li>
    </ul>
  </a>
  <a class="project large" href="http://quickchess.herokuapp.com">
    <h1>Quick Chess</h1>
    <h2>p vs. p chess game</h2>
    <p>github page: github.com/nramadas/WebChess</p>
    <h2>Features</h2>
    <ul>
      <li>Real-time updating with AJAX pulls</li>
      <li>Tracks IP to keep out extraneous players</li>
      <li>Chess game logic lives in backend</li>
      <li>Uses YAML to simplify database model</li>
    </ul>
  </a>
  <a class="project large" href="/asteroids">
    <h1>Asteroids</h1>
    <h2>classic asteroids game</h2>
    <p>github page: github.com/nramadas/asteroids</p>
    <h2>Features</h2>
    <ul>
      <li>Built in JavaScript</li>
      <li>Draws on HTML5 canvas</li>
      <li>Object oriented design</li>
      <li>Classic asteroids ship movement</li>
    </ul>
  </a>
  <a class="project large" href="/snake">
    <h1>Snake</h1>
    <h2>snake</h2>
    <p>github page: github.com/nramadas/JavaScriptGames</p>
    <h2>Features</h2>
    <ul>
      <li>Built in JavaScript</li>
      <li>Draws on HTML5 canvas</li>
      <li>Object oriented design</li>
      <li>Classic snake</li>
    </ul>
  </a>
  <a class="project large" href="https://github.com/nramadas/Senior-Design-1-Architecture">
    <h1>Microprocessor</h1>
    <h2>built in verilog</h2>
    <p>github page: github.com/nramadas/Senior-Desgin-1-Architecture</p>
    <h2>Features</h2>
    <ul>
      <li>Out-of-order execution</li>
      <li>Branch prediction</li>
      <li>Non-blocking data cache</li>
      <li>Pre-fetching instruction cache</li>
      <li>Load-store queue for faster memory loads</li>
    </ul>
  </a>
  <a class="project large" href="https://github.com/nramadas/Embedded-Systems-Project">
    <h1>Robot</h1>
    <h2>built in C</h2>
    <p>github page: github.com/nramadas/Embedded-Systems-Project</p>
    <h2>Features</h2>
    <ul>
      <li>Motion-sensing</li>
      <li>Moves away from objects moving towards it</li>
      <li>Plays music indicate state</li>
      <li>Completely autonomous; program lives in flash memory</li>
    </ul>
  </a>
</div>